<div class="" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
    <h4 class="text-secondary">Recent Books</h4>
    <br/>
    <div class="row">
        {{#if books.length}}
        {{#each books}}
        <div class="col-md-2 mb-2">
            <div >
                <a href="/book/{{this.id}}" class="text-decoration-none">
                    <img src="/img/{{this.image}}" class="card-img-top" alt="{{this.title}}"
                        style="height: 200px; object-fit: contain; display: block; margin: auto;">
                    <div class="card-body">
                        <h6 class="text text-secondary text-center">{{this.title}}</h6>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="col-12 text-center">
            <p>You dont have any recent book. Request one book! :)</p>
        </div>
        {{/if}}
    </div>

</div>